<header class="py-8 px-4 mx-auto max-w-xl lg:py-16 lg:px-6">
<div>
  <h2 class="mb-4 text-5xl tracking-tight font-extrabold text-black-800 dark:text-white">Sistema de novedades</h2>
  <p class="font-light text-gray-500 sm:text-xl dark:text-gray-400 text-center">Control de biciclos</p>
</div>
<nav class="flex flex-col items-center justify-between w-full text-center md:flex-row py-4">
  <a class="text-white" href="/">Dashboard</a>
  <a class="text-white" href="/delegaciones">Delegaciones</a>

</nav>
</header>